<div class="d-pass-edit">
  <h1 class="d-pass-text1"><strong>パスワード変更</strong></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p class="d-pass-text2"><%= f.label :メールアドレス %><br /><p>
      <p class="d-pass-text3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
    </div>

    <div class="field">
      <p class="d-pass-text2"><%= f.label :新しいパスワード %><span>(6文字以上)</span><br /></p>
      <p class="d-pass-text3"><%= f.password_field :password, autocomplete: "new-password" %></p>
    </div>

    <div class="field">
      <p class="d-pass-text2"><%= f.label :パスワード確認 %><br /></p>
      <p class="d-pass-text3"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
    </div>

    <div class="field">
      <p class="d-pass-text2"><%= f.label :現在のパスワード %><br /></p>
      <p class="d-pass-text3"><%= f.password_field :current_password, autocomplete: "current-password" %></p>
    </div>

    <div class="actions">
      <p class="d-pass-text4"><%= f.submit "変更する" %></p>
    </div>
    <% end %>
  </div>
