
<h3 class="metoo-text1-question">Question</h3>

<table class="table-borderless metoo-table-question">
    <tr>
        <td class="metoo-td-question">Q,<%= @metoo.answer.question.title %></td>
        <td class="metoo-td-question">投稿者:<%= @metoo.answer.user.first_name %> <%= @metoo.answer.user.last_name %></td>
        <td class="metoo-td-question">A,<%= @metoo.answer.body %></td>
    </tr>
</table>

<h3 class="metoo-text1-show">この回答へのMe tooユーザーリスト</h3>

<table class="table-borderless metoo-table-show">
    <% @metoos.each do |metoo| %>
    <tr>
        <td class="metoo-td-show"><%= attachment_image_tag metoo.user, :profile_image, :fill, 150, 240, fallback: "no_image.jpg",size:'140x140' %></td>
        <td class="metoo-td-show"><%= metoo.user.first_name %> <%= metoo.user.last_name %></td>
        <td class="metoo-td-show"><%= link_to "ユーザーページへ" ,public_user_path(metoo.user.id) %></td>
    </tr>
    <% end %>
    <%= paginate @metoos, class: "paginate" %>
</table>