
<% if @hope_question.errors.any? %>
<div>
	<ul>
		<li>
			<%= pluralize(@hope_question.errors.count, "error") %>
			prohibited this obj from being saved:
		</li>
		<% @hope_question.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<strong>Hope Question</strong>

<%= form_for [:public, @hope_question] do |f| %>
<div><%= f.text_area :hope_body,:size=>"42" %></div>

<div><%= f.submit "投稿する" %></div>
<% end %>