
<% if @hope_question.errors.any? %>
<div>
	<ul>
		<li>
			<%= pluralize(@hope_question.errors.count, "error") %>
			prohibited this obj from being saved:
		</li>
		<% @hope_question.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<div class="answer-box-edit">
	<h1 class="answer-title2-edit">Hope Question</h1>

	<%= form_for [:public, @hope_question] do |f| %>
	<div class="answer-text3-edit"><%= f.text_area :hope_body,:size=>"42" %></div>

	<div class="answer-btn-edit"><%= f.submit "投稿する" %></div>
	<% end %>