
<% if @answer.errors.any? %>
<div>
	<ul>
		<li>
			<%= pluralize(@answer.errors.count, "error") %>
			prohibited this obj from being saved:
		</li>
		<% @answer.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<div class="answer-box-edit">
	<h1 class="answer-title-edit">Question:</h1>

	<p class="answer-text1-edit"><%= @question.title %></p>

	<h1 class="answer-title2-edit">Answer</h1>

	<%= form_for [:public, @question, @answer] do |f| %>
	<div class="answer-text3-edit"><%= f.text_area :body,:size=>"42" %></div>

	<div class="answer-btn-edit"><%= f.submit "更新する" %></div>
	<% end %>
</div>