
<% if user_signed_in? %>

<strong>Questions</strong>
<p><%= link_to "→みんなの聞いてみたい質問一覧",public_hope_questions_path %></p>
<table>
    <% @all_questions.each do |question| %>
    <tr>
        <td>Q,<%= question.title %></td>
        <% if question.answered_by?(current_user) %>
        <td>A,<%= question.answers.where(user_id: current_user.id).first.body %></td>
        <td><%= link_to "回答を編集する",edit_public_question_answer_path(question.id,question.answers.where(user_id: current_user.id).first.id) %></td>
        <td><%= link_to "回答を消去する",public_question_answer_path(question.id,question.answers.where(user_id: current_user.id).first.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        <% if question.answers.where(user_id: current_user.id).first.metoos.count == 0 %>
        <td>Me too数：0</td>
        <% else %>
        <td><%= link_to "Me too数：#{question.answers.where(user_id: current_user.id).first.metoos.count }" ,public_question_answer_metoo_path(question.id,question.answers.where(user_id: current_user.id).first.id,@metoos.where(answer_id: question.answers.where(user_id: current_user.id).first.id).first.id) %></td>
        <% end %>
        <% else %>
        <td>A,未回答</td>
        <td><%= link_to "回答する",new_public_question_answer_path(question.id) %>
            <% end %>
        </tr>
        <% end %>
    </table>

    <% else %>
    <strong>Questions</strong>
           <p><%= link_to "→みんなの聞いてみたい質問一覧",public_hope_questions_path %></p>
    <p><%= link_to "ログイン・会員登録して回答に答える!",root_path %></p>
    <table>
        <% @all_questions.each do |question| %>
        <tr>
            <td>Q,<%= question.title %></td>
        </tr>
        <% end %>
        </table>

        <% end %>