
<div class="d-form">

	<h2 class="d-text1">パスワードを忘れた方</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<%= render "devise/shared/error_messages", resource: resource %>

	<div class="field">
		<p class="d-text2"><%= f.label :メールアドレス %><br /></p>
		<p class="d-text3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
	</div>

	<div class="actions d-pass-fix">
		<%= f.submit "パスワードを再登録する手続きを送ります" %>
	</div>
	<% end %>

</div>
