<% if @model == "1"%>

<div class="user-box">
  <p class="user-title-index">ユーザーリスト</p>

  <table class="table-borderless user-table-index">
    <% @users.each do |user| %>
    <tr>
      <td class="user-td-index"><%= attachment_image_tag user, :profile_image, :fill, 180,250, fallback: "no_image.jpg",size:'100x100' %></td>
      <td class="user-td-index"><%= user.first_name %> <%= user.last_name %></td>
      <td class="user-td-index">回答数：<%= Answer.where(user_id:user.id).count %></td>
      <td class="user-td-index"><%= link_to "ユーザーページへ" ,public_user_path(user.id) %></td>
      <% if user_signed_in? %>
      <% unless current_user == user %>
      <td class="user-td-index">
        <% if current_user.following?(user) %>
        <%= form_for(current_user.relationships.find_by(follow_id: user.id),url:"/public/relationships/#{current_user.relationships.find_by(follow_id: user.id).id}" ,html: { method: :delete }) do |f| %>
        <%= hidden_field_tag :follow_id, user.id %>
        <%= f.submit "フォローを外す", class: 'btn btn-danger btn-block btn-sm' %>
        <% end %>
        <% else %>
        <%= form_for(current_user.relationships.build, url:"/public/relationships") do |f| %>
        <%= hidden_field_tag :follow_id, user.id %>
        <%= f.submit "フォローする", class: 'btn btn-primary btn-block  btn-sm' %>
        <% end %>
        <% end %>
      </td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
  <div class="paginate">
        <%= paginate @users, class: "paginate" %>
    </div>
</div>
<% elsif @model == "2" %>

<% if user_signed_in? %>

<div class="question-box-index">
    <h1 class="question-title-index">Questions</h1>
    <p class="question-text2-index"><%= link_to "→みんなの聞いてみたい質問一覧",public_hope_questions_path %></p>
</div>
<table class="table-borderless question-table-index">
    <% @questions.each do |question| %>
    <tr>
        <td class="question-td-index">Q,<%= question.title %></td>
        <% if question.answered_by?(current_user) %>
        <td class="question-td-index">A,<%= question.answers.where(user_id: current_user.id).first.body %></td>
        <td class="question-td-index"><%= link_to "編集する",edit_public_question_answer_path(question.id,question.answers.where(user_id: current_user.id).first.id) %></td>
        <td class="question-td-index"><%= link_to "消去する",public_question_answer_path(question.id,question.answers.where(user_id: current_user.id).first.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        <% if question.answers.where(user_id: current_user.id).first.metoos.count == 0 %>
        <td class="question-td-index">0Me too</td>
        <% else %>
        <td class="question-td-index"><%= link_to "#{question.answers.where(user_id: current_user.id).first.metoos.count }Me too" ,public_question_answer_metoo_path(question.id,question.answers.where(user_id: current_user.id).first.id,@metoos.where(answer_id: question.answers.where(user_id: current_user.id).first.id).first.id) %></td>
        <% end %>
        <% else %>
        <td class="question-td-index">A,未回答</td>
        <td class="question-td-index"><%= link_to "回答する",new_public_question_answer_path(question.id) %>
            <% end %>
        </tr>
        <% end %>
    </table>
    <div class="paginate">
        <%= paginate @questions, class: "paginate" %>
    </div>

    <% else %>
    <div class="question-box-index">
        <h1 class="question-title-index">Questions</h1>
        <p class="question-text2-index"><%= link_to "→みんなの聞いてみたい質問一覧",public_hope_questions_path %></p>
        <p class="question-text3-index"><%= link_to "ログイン・会員登録して回答に答える!",root_path %></p>
        <table class="table-borderless question-offtable-index">
            <% @questions.each do |question| %>
            <tr>
                <td class="question-td-index">Q,<%= question.title %></td>
                <td class="question-td-index">回答ユーザー数：<%= question.answers.count %></td>
            </tr>
            <% end %>
        </table>
       <div class="paginate">
        <%= paginate @questions, class: "paginate" %>
    </div>
        <% end %>
    </div>
    <% elsif @model == "3" %>

<% if user_signed_in? %>
<div class="question-box-index">
    <h1 class="hope_question-title-index">Hope Questions</h1>

    <p class="hope_question-text2-index"><%= link_to "→聞いてみたい質問を投稿する",new_public_hope_question_path %></p>

    <table class="table-borderless hope_question-table-index">
        <% @hope_questions.each do |hope_question| %>
        <tr>
            <td class="hope_question-td-index">HQ,<%= hope_question.hope_body %></td>
            <td class="hope_question-td-index">投稿者:<%= link_to "#{hope_question.user.first_name } #{hope_question.user.last_name }" ,public_user_path(hope_question.user_id) %></td>
            <% if current_user.id != hope_question.user_id %>
            <td class="hope_question-td-index">
                <% if hope_question.agreed_by?(current_user) %>

                <%= link_to public_hope_question_agrees_path(hope_question.id), method: :delete do %>
                <i class="far fa-thumbs-up" aria-hidden="true" style="color: red;"></i>
                <%= hope_question.agrees.count %>賛成
                <% end %>

                <% else %>

                <%= link_to public_hope_question_agrees_path(hope_question.id), method: :post do %>
                <i class="far fa-thumbs-up" aria-hidden="true"></i>
                <%= hope_question.agrees.count %> 賛成
                <% end %>
            </td>
            <% end %>

            <% end %>
            <% if current_user.id == hope_question.user_id %>
            <td class="hope_question-td-index"><%= link_to "投稿を消去する",public_hope_question_path(hope_question.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
    <div class="paginate">
        <%= paginate @hope_questions, class: "paginate" %>
    </div>

    <% else %>
    <div class="question-box-index">
        <h1 class="hope_question-title-index">Hope Questions</h1>

        <p class="hope_question-offtext2-index"><%= link_to "→ログイン・会員登録して聞いてみたい質問を投稿する",root_path %></p>

        <table class="table-borderless hope_question-table-index">
            <% @hope_questions.each do |hope_question| %>
            <tr>
                <td class="hope_question-td-index">HQ,<%= hope_question.hope_body %></td>
                <td class="hope_question-td-index">投稿ユーザー：<%= link_to "#{hope_question.user.first_name }#{hope_question.user.last_name }" ,public_user_path(hope_question.user_id) %></td>
                <td class="hope_question-td-index">賛成数：<%= hope_question.agrees.count %></td>
            </tr>
            <% end %>
        </table>
        <div class="paginate">
        <%= paginate @hope_questions, class: "paginate" %>
    </div>
        <% end %>
    </div>

        <% end %>