
<strong>Hope questions</strong>

<table>
	<% @hope_questions.each do |hope_question| %>
	<tr>
		<td>HQ,<%= hope_question.hope_body %></td>
		<td>投稿ユーザー：<%= hope_question.user.first_name %><%= hope_question.user.last_name %></td>
		<td>賛成:<%= hope_question.agrees.count %></td>
		<td><%= hope_question.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
		<td><%= link_to "delete" ,admin_hope_question_path(hope_question.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
	</tr>
	<% end %>
</table>