
<div class ="d-form">
  <h2 class="d-text1">メールアドレスとパスワードを入力してください！</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p class="d-text2"><%= f.label :メールアドレス %><br /></p>
    <p class="d-text3"><%= f.email_field :email, autofocus: true,:size=>"34", autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p class="d-text2"><%= f.label :パスワード %><br /></p>
    <p class="d-text3"><%= f.password_field :password,:size=>"34", autocomplete: "current-password" %></p>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :ログイン状態を保存しておく %>
  </div>
  <% end %>

  <div class="actions d-text4">
    <%= f.submit "ログイン！" %>
  </div>
  <% end %>

  <P class="last-d-new"><%= link_to "戻る" ,root_path %></p>

    <P class="last-d-new"><%= link_to "→パスワードを忘れた方はこちら" ,new_user_password_path(resource_name) %></p>

    </div>