<div class="user-box">
	<p class="user-title-index">ユーザーリスト</p>

	<table class="table-borderless user-table-index">
		<% @users.each do |user| %>
		<tr>
			<td class="user-td-index"><%= attachment_image_tag user, :profile_image, :fill, 180, 250, fallback: "no_image.jpg",size:'100x100' %></td>
			<td class="user-td-index"><%= user.first_name %> <%= user.last_name %></td>
			<td class="user-td-index"><%= link_to "登録情報を見る" ,admin_user_path(user.id) %></td>
			<td class="user-td-index">
				<% if user.deleted_at == nil %>
				有効
				<% else %>
				退会済み
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<div class="paginate">
        <%= paginate @users, class: "paginate" %>
    </div>
