
<strong>ユーザー詳細</strong>

<table>
	<tr>
		<td>ユーザー名</td>
		<td><%= @user.first_name %><%= @user.last_name %></td>
	</tr>
	<tr>
		<td>E-mail</td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td>ステータス</td>
		<td>
		<% if @user.deleted_at == nil %>
		有効
		<% else %>
		退会済み
		<% end %>
	</td>
		<td><div>
        <%= form_tag(admin_user_path(@user.id), :method => 'patch', data: {confirm: "本当に更新しますか？"}) do %>
        <%= select_tag(:status, options_for_select([["有効", "1"],["退会","2"]]))%>
        <%= submit_tag '変更' %>
        <% end %></td>
	</tr>
</table>

<table>
	<tr>
		<td>Questions</td>
		<td>Answers</td>
	</tr>
	<% @answers.each do |answer| %>
	<tr>
		<td><%= answer.question.title %></td>
		<td><%= answer.body %></td>
		<td><%= link_to "delete" ,admin_question_answer_path(answer.question.id,answer.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
	</tr>
	<% end %>
</table>
