
<% if @user.errors.any? %>
<div>
	<ul>
		<li>
			<%= pluralize(@user.errors.count, "error") %>
			prohibited this obj from being saved:
		</li>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
	<% end %>
</div>
<div class="user-box">

	<p class="user-text1-edit">会員情報編集</p>

		<%= form_for(@user, url:"/public/users/#{@user.id}") do |f| %>
		<div class="select-user-edit">
		<p class="label-text"><%= f.label :画像 %></p>
		<%= f.attachment_field :profile_image %>
	</div>

	<table class="table-bordered user-table-edit">
		<tr>
			<td>かな氏名</td>
			<td><%= f.text_field :kana_first_name,autofocus: true,:size=>"24" %>
				<%= f.text_field :kana_last_name, autofocus: true,:size=>"24" %></td>
			</tr>
			<tr>
				<td>氏名</td>
				<td><%= f.text_field :first_name,autofocus: true,:size=>"24" %>
					<%= f.text_field :last_name, autofocus: true,:size=>"24" %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= f.text_field :email, autofocus: true,:size=>"50" %></td>
				</tr>
			</table>
			<div>
				<%= f.submit '更新する'  %>
			</div>
			<% end %>
		</div>

		<p class="user-text2-edit"><%= link_to "→パスワードを変更する場合はこちら" ,edit_user_registration_path %></p>