
<strong>フォロワーユーザーリスト</strong>

<table>
  <% @relationships.each do |relationship| %>
  <tr>
    <td><%= attachment_image_tag relationship.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",size:'100x100' %></td>
    <td><%= relationship.user.first_name %><%= relationship.user.last_name %></td>
    <td><%= link_to "ユーザーページへ" ,public_user_path(relationship.user.id) %></td>
    <td>
      <% if current_user.following?(relationship.user) %>
      <%= form_for(current_user.relationships.find_by(follow_id: relationship.user.id), url:"/public/relationships/#{current_user.relationships.find_by(follow_id: relationship.user.id).id}" ,html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, relationship.user.id %>
      <%= f.submit "フォローを外す", class: 'btn btn-danger btn-block' %>
      <% end %>
      <% else %>
      <%= form_for(current_user.relationships.build, url:"/public/relationships") do |f| %>
      <%= hidden_field_tag :follow_id, relationship.user.id %>
      <%= f.submit "フォローする", class: 'btn btn-primary btn-block' %>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <%= paginate @relationships, class: "paginate" %>
</table>
