
<% if user_signed_in? %>
<% if current_user.id == @user.id %>
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<p><%= link_to "フォローリスト" ,follow_public_user_path %></p>
			<p><%= link_to "フォロワーリスト" ,follower_public_user_path %></p>
			<p><%= link_to "自分がしたMetoo一覧" ,index_public_metoo_path %></p>
		</div>
		<div class="col-xs-10">
			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",size:'100x100' %>

			<%= link_to "登録情報を変更する" ,edit_public_user_path(@user.id) %>

			<table>
				<tr>
					<td>Questions</td>
					<td>Answers</td>
				</tr>
				<% @answers.each do |answer| %>
				<tr>
					<td><%= answer.question.title %></td>
					<td><%= answer.body %></td>
					<td><%= link_to "編集する" ,edit_public_question_answer_path(answer.question.id,answer.id) %></td>
					<td><%= link_to "消去する" ,public_question_answer_path(answer.question.id,answer.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
					<% if answer.metoos.count == 0 %>
					<td>Me too数：0</td>
					<% else %>
					<td><%= link_to "Me too数：#{answer.metoos.count}" ,public_question_answer_metoo_path(answer.question.id,answer.id,answer.metoos.first.id) %></td>
					<% end %>
				</tr>
				<% end %>
			</table>

			<div>
				<%= link_to "退会する",withdraw_public_user_path	 %>
			</div>

		</div>
	</div>
</div>

<% else %>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",size:'100x100' %>
<div>
	<% if current_user.following?(@user) %>
	<%= form_for(current_user.relationships.find_by(follow_id: @user.id),url:"/public/relationships/#{current_user.relationships.find_by(follow_id: @user.id).id}" ,html: { method: :delete }) do |f| %>
	<%= hidden_field_tag :follow_id, @user.id %>
	<%= f.submit "フォローを外す", class: 'btn btn-danger btn-block' %>
	<% end %>
	<% else %>
	<%= form_for(current_user.relationships.build, url:"/public/relationships") do |f| %>
	<%= hidden_field_tag :follow_id, @user.id %>
	<%= f.submit "フォローする", class: 'btn btn-primary btn-block' %>
	<% end %>
	<% end %>
</div>
<table>
	<tr>
		<td>Questions</td>
		<td>Answers</td>
	</tr>
	<% @answers.each do |answer| %>
	<tr>
		<td><%= answer.question.title %></td>
		<td><%= answer.body %></td>
		<td>
			<% if answer.me_tooed_by?(current_user) %>
			<%= link_to public_question_answer_metoo_path(answer.question.id,answer.id), method: :delete do %>
			<i class="far fa-handshake" aria-hidden="true" style="color: red;"></i>
			Me too数：<%= answer.metoos.count %>
			<% end %>
			<% else %>
			<%= link_to public_question_answer_metoos_path(answer.question.id,answer.id), method: :post do %>
			<i class="far fa-handshake" aria-hidden="true"></i>
			Me too数：<%= answer.metoos.count %>
			<% end %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<% end %>
<% else %>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",size:'100x100' %>

<table>
	<tr>
		<td>Questions</td>
		<td>Answers</td>
	</tr>
	<% @answers.each do |answer| %>
	<tr>
		<td>Q,<%= answer.question.title %></td>
		<td>A,<%= answer.body %></td>
		<% if answer.metoos.count == 0 %>
		<td>Me too数：0</td>
		<% else %>
		<td><%= link_to "Me too数：#{answer.metoos.count}" ,public_question_answer_metoo_path(answer.question.id,answer.id,answer.metoos.first.id) %></td>
		<% end %>
	</tr>
	<% end %>
</table>
<% end %>