<div class="user-box">
	<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
	<div class="container">
		<p class="image-user-show"><%= attachment_image_tag @user, :profile_image, :fill, 250, 300, fallback: "no_image.jpg",size:'200x200' %></p>

		<p class="follow-user-show"><%= link_to "フォローリスト" ,follow_public_user_path, class: "btn btn-info" %></p>
		<p class="follow-user-show"><%= link_to "フォロワーリスト" ,follower_public_user_path, class: "btn btn-info" %></p>
		<p class="follow-user-show"><%= link_to "自分がしたMetoo一覧" ,index_public_metoo_path, class: "btn btn-info" %></p>

		<p class="text1-user-show"><%= link_to "→登録情報を変更する" ,edit_public_user_path(@user.id) %></p>

		<table class="table-borderless user-table-show">
			<tr>
				<th class="user-th-show">Questions</th>
				<th class="user-th-show">Answers</th>
				<th></th>
			</tr>
			<% @answers.each do |answer| %>
			<tr>
				<td class="user-td-show">Q,<%= answer.question.title %></td>
				<td class="user-td-show">A,<%= answer.body %></td>
				<td class="user-td-show"><%= link_to "編集する" ,edit_public_question_answer_path(answer.question.id,answer.id), class: "btn btn-primary col-xs-11 btn-sm" %></td>
				<td class="user-td-show"><%= link_to "消去する" ,public_question_answer_path(answer.question.id,answer.id), method: :delete, data: {confirm: "本当に削除しますか？"} , class: "btn btn-danger col-xs-11 btn-sm" %></td>
				<% if answer.metoos.count == 0 %>
				<td class="user-td-show">0Me too</td>
				<% else %>
				<td class="user-td-show"><%= link_to "#{answer.metoos.count}Me too" ,public_question_answer_metoo_path(answer.question.id,answer.id,answer.metoos.first.id) %></td>
				<% end %>
			</tr>
			<% end %>
		</table>
		<div class="paginate">
			<%= paginate @answers, class: "paginate" %>
		</div>

		<div>
			<p class="withdraw-user-show"><%= link_to "→退会する",withdraw_public_user_path	,class: "btn btn-warning" %></p>
		</div>

	</div>

	<% else %>
	<div class="user-box">
		<p class="image-user-show"><%= attachment_image_tag @user, :profile_image, :fill,250, 300, fallback: "no_image.jpg",size:'180x180' %></p>

		<p class="name-user-show">ユーザー名：<%= @user.first_name %> <%= @user.last_name %></p>

		<div class="follow-btn-user-show">
			<% if current_user.following?(@user) %>
			<%= form_for(current_user.relationships.find_by(follow_id: @user.id),url:"/public/relationships/#{current_user.relationships.find_by(follow_id: @user.id).id}" ,html: { method: :delete }) do |f| %>
			<%= hidden_field_tag :follow_id, @user.id %>
			<%= f.submit "フォローを外す", class: 'btn btn-danger btn-block btn-md' %>
			<% end %>
			<% else %>
			<%= form_for(current_user.relationships.build, url:"/public/relationships") do |f| %>
			<%= hidden_field_tag :follow_id, @user.id %>
			<%= f.submit "フォローする", class: 'btn btn-primary btn-block btn-md' %>
			<% end %>
			<% end %>
		</div>
		<table class="table-borderless user-table-show2">
			<tr>
				<th class="user-th-show">Questions</th>
				<th class="user-th-show">Answers</th>
				<th></th>
			</tr>
			<% @answers.each do |answer| %>
			<tr>
				<td class="user-td-show">Q,<%= answer.question.title %></td>
				<td class="user-td-show">A,<%= answer.body %></td>
				<td id="metoo-<%= answer.id %>" class="user-td-show">
					<%= render partial: "public/metoos/metoo", locals: { answer: answer } %>
				</td>
			</tr>
			<% end %>
		</table>
		<div class="paginate">
			<%= paginate @answers, class: "paginate" %>
		</div>

		<% end %>
		<% else %>
		<p class="image-user-show"><%= attachment_image_tag @user, :profile_image, :fill, 250, 300, fallback: "no_image.jpg",size:'180x180' %></p>

		<p class="name-user-show">ユーザー名：<%= @user.first_name %> <%= @user.last_name %></p>

		<table class="table-borderless user-table-show2">
			<tr>
				<th class="user-th-show">Questions</th>
				<th class="user-th-show">Answers</th>
				<th></th>
			</tr>
			<% @answers.each do |answer| %>
			<tr>
				<td class="user-td-show">Q,<%= answer.question.title %></td>
				<td class="user-td-show">A,<%= answer.body %></td>
				<% if answer.metoos.count == 0 %>
				<td class="user-td-show">0Me too</td>
				<% else %>
				<td class="user-td-show"><%= link_to "#{answer.metoos.count}Me too" ,public_question_answer_metoo_path(answer.question.id,answer.id,answer.metoos.first.id) %></td>
				<% end %>
			</tr>
			<% end %>
		</table>
		<div class="paginate">
			<%= paginate @answers, class: "paginate" %>
		</div>
		<% end %>
	</div>