<!DOCTYPE html>
<html>
<head>
  <title>TellMe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>
    <% if user_signed_in? %>
    <div class="container">
      <div class="row headers">
        <p class="title">Tell Me</p>
        <div class="form">
          <%= form_tag(public_searchs_path, :method => 'get') do %>
          <%= text_field_tag :search ,'',:size=>"26",:placeholder => "空白は半角で検索してください" %>
          <%= select_tag(:model, options_for_select([["ユーザー", "1"],["質問","2"],["希望質問","3"]]))%>
          <%= submit_tag '検索', :name => nil %>
          <% end %>
        </div>
        <div class="navs">
          <nav>
            <ul class="nav navbar-nav lis">
              <li><%= link_to "マイページ" ,public_user_path(current_user.id) %></li>
              <li><%= link_to "アバウト" ,about_public_home_path %></li>
              <li><%= link_to "会員一覧" ,public_users_path %></li>
              <li><%= link_to "質問一覧" ,public_questions_path %></li>
              <li><%= link_to "ログアウト" ,destroy_user_session_path,method: :delete %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <% elsif admin_signed_in? %>
    <div class="container">
      <div class="row headers">
        <p class="title">Tell Me</p>
        <div class="form">
          <%= form_tag(admin_searchs_path, :method => 'get') do %>
          <%= text_field_tag :search ,'',:size=>"26",:placeholder => "空白は半角で検索" %>
          <%= select_tag(:model, options_for_select([["ユーザー", "1"],["質問","2"],["希望質問","3"]]))%>
          <%= submit_tag '検索', :name => nil %>
          <% end %>
        </div>
        <div class="navs">
          <nav>
            <ul class="nav navbar-nav lis">
              <li><%= link_to "会員一覧" ,admin_users_path %></li>
              <li><%= link_to "質問一覧" ,admin_questions_path %></li>
              <li><%= link_to "希望質問一覧" ,admin_hope_questions_path %></li>
              <li><%= link_to "ログアウト" ,destroy_admin_session_path,method: :delete %></li>
            </ul>
          </nav>
          <div>
          </div>
        </div>

        <% else %>
        <div class="container">
          <div class="row headers">
            <p class="title">Tell Me</p>
            <div class="form">
              <%= form_tag(public_searchs_path, :method => 'get') do %>
              <%= text_field_tag :search ,'',:size=>"26",:placeholder => "空白は半角で検索してください" %>
              <%= select_tag(:model, options_for_select([["ユーザー", "1"],["質問","2"],["希望質問","3"]]))%>
              <%= submit_tag '検索', :name => nil %>
              <% end %>
            </div>
            <div class="navs">
              <nav>
                <ul class="nav navbar-nav lis">
                  <li><%= link_to "トップ" ,root_path %></li>
                  <li><%= link_to "アバウト" ,about_public_home_path %></li>
                  <li><%= link_to "会員一覧" ,public_users_path %></li>
                  <li><%= link_to "質問一覧" ,public_questions_path %></li>
                  <li><%= link_to "ログイン" ,new_user_session_path %></li>
                </ul>
              </nav>
              <div>
              </div>
            </div>
            <% end %>
          </header>
          <%= yield %>
        </body>
        </html>
